body {
  font-family: serif !important;
}
.navbar-brand {
  font-family: 'Playfair Display', serif !important;
  font-weight: 500;
}
.masthead .masthead-heading {
  font-family: 'Libre Baskerville', serif !important;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Playfair Display', serif !important;
}
.bg-secondary {
    background-color:   #3e5d3e  !important;
  }
  .bg-primary {
    background-color:  #679067  !important;
  }
  .footer {
    background-color:  #679067  !important;
  }
.btn-primary {
  color: #fff;
  background-color: #34723A !important;
  border-color: #34723A !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #34723A !important;
}
.portfolio .portfolio-item .portfolio-item-caption {
  background-color: #34723A !important;
}
.copyright {
  background-color: #253F27 !important;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #34723A;
  }
  .divider-custom {
    color: #264026 !important;
  }
.divider-custom.divider-light .divider-custom-icon {
  color: #264026 !important;
}
